<h1>Add a message here {{user}}</h1>
    <form action="/admin/add-message" method="POST">
        <textarea style="font-size: 1rem;" name="message" id="" cols="60" rows="3"></textarea>
        <button type="submit">CREATE</button>
    </form>
    <a href="/">go back home</a>