<h1>Add a message here</h1>
    <form action="/admin/add-message" method="POST">
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <button type="submit">CREATE</button>
    </form>
    <a href="/">go back home</a>