<h1>Hello, you can add any message here. All messages here run only on RAM, not on the hard disk. By default, they last up to 30 minutes.</h1>
<h2>Now we can see all the messages because they are under one and the same link, and the application has not yet been developed.</h2>
<h2>Finally, each message will create its own unique URL link
which you then send to the recipient.</h2>
<h2>It is up to the recipient to delete the message, if not, the message will disappear within 30 minutes.</h2>
    <ul id="">
        <a href="admin/add-message"><li>Add message</li></a>
        <a href="messages"><li>See all messages</li></a>
    </ul>