<p>simple chat app</p>
<div id='ulId' class="messages-container">
    <ul>
        {{#each messages}}
        <p>{{user}}: {{message}}</p>
        {{/each}}
    </ul>
</div>
{{!-- <h1>Add a message here {{user}}</h1>
    <form action="/admin/add-message">
        <textarea style="font-size: 1rem;" name="message" id="" cols="60" rows="1"></textarea>
        <button type="submit">CREATE</button>
    </form>
    <a href="/">go back home</a> --}}
<div class="button-container">
    <a class='test' href="/admin/add-message"><button>add message</button></a>
    <a href="/"><button>go back home</button></a>
    {{!-- <form action="/admin/add-message" method="POST">
        <input type="subnit" name="" id=""/>
    </form> --}}
</div>

<script>
    function setUrl() {

        const href = document.querySelector('.test');
        href.href += '/'+ window.location.search;
    }
    setUrl()
    setInterval(() => {
        location.reload();
    }, 5000)
    const scrolled = false;
    const element = document.getElementById("ulId");
    element.scrollTop = element.scrollHeight
</script>