<h1>for now you get to see all the messages that run on the server memory. We use Heroku service for that</h1>
<p>list of all messages</p>
<div id='ulId' class="messages-container">
    <ul>
        {{#each users}}
        <p>{{this.user}}: {{this.message}}</p>
        {{/each}}
    </ul>
</div>
<div class="button-container">
    <a href="/admin/add-message"><button>add message</button></a>
    <a href="/"><button>go back home</button></a>
</div>

<script>
    setInterval(() => {
        window.location = "https://whispering-sands-04233.herokuapp.com/messages";
    }, 5000)
    const scrolled = false;
    
    const element = document.getElementById("ulId");
    element.scrollTop = element.scrollHeight
</script>