<h1>hello you can see how many users are in my database</h1>
    <p>list of all users</p>
    <ul>
        {{#each users}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/admin/add-user">add user</a>