*, html {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    color: darkblue
}

form {
    color: green;
}

h1 {
    color: blue;
}
body {
    height: 100vh;
}
.container {
    background-color: whitesmoke;
    height: 100%;
    position: relative;
}
.container .button-container {
    position: fixed;
    bottom: 15px;
}
button {
    width: 100px;
    height: 24px;
}
.messages-container {
    font-size: 1.5rem;
    max-width: 90%;
    max-height: 70%;
    min-height: 100px;
    border: 2px solid red;
    overflow-wrap: break-word;
    overflow: scroll;
}